* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 37.9375em; /* 607px/16px */
    height: 55.625em; /* 890px/16px */
    margin: auto;
    margin-top: 4.6875em; /* 75px/16px */
    background-repeat: 0.75em; /* 12px/16px */
    background-image: linear-gradient(180deg, #130754, #3b2f80 100%);
}

.top-bar {
    display: flex;
    justify-content: center;
    gap: 0.875em; /* 14px/16px */
    padding-top: 3.75em; /* 60px/16px */
}

.top-bar input {
    display: flex;
    width: 22.625em; /* 362px/16px */
    height: 4.875em; /* 78px/16px */
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 2.5em; /* 40px/16px */
    color: #626262;
    padding-left: 2.5em; /* 40px/16px */
    font-size: 1.25em; /* 20px/16px */
    font-weight: 400;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.875em; /* 78px/16px */
    height: 4.875em; /* 78px/16px */
    background: #ebfffc;
    cursor: pointer;
    border-radius: 2.5em; /* 40px/16px */
}

.weather-image {
    margin-top: 1.8125em; /* 29px/16px */
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 7.5em; /* 120px/16px */
    font-weight: bold;
}

.weather-location {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3.75em; /* 60px/16px */
    font-weight: 800;
}

.data-container {
    margin-top: 3.125em; /* 50px/16px */
    color: white;
    display: flex;
    justify-content: center;
}

.element {
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 0.75em; /* 12px/16px */
}

.data {
    font-size: 2.125em; /* 34px/16px */
    font-weight: 400;
}

.text {
    font-size: 0.80em; /* 20px/16px */
    font-weight: 400;
}

.icon{
    margin-top: 0.625em; /* 10px/16px */
}
